.container {
  background-color: #1a2b34;
  color: #fff;
  padding: 10px;
  display: flex;
  justify-content: space-between;
}

.leftSection {
  display: flex;
  align-items: center;
}

.logoContainer {
  display: flex;
  align-items: center;
  margin-right: 20px;
}

.iconPlaceholder {
  font-size: 24px;
  margin-right: 8px;
}

.heroTitle {
  font-size: 18px;
  font-weight: bold;
}

.versionNumber {
  font-size: 12px;
  /* TODO: make accent color a variable, can we even do that?  */
  color: #d7708b;
}

.rightSection {
  display: flex;
  align-items: center;
}

.topNavItems {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.topNavItem {
  margin: 0 8px;
  cursor: pointer;
  font-size: 12px;
}
.topNavItem:hover {
  color: rgb(226, 81, 119);
}

.topNavItem > a {
  outline: none;
  color: inherit;
}

@media only screen and (max-width: 450px) {
  .container {
    background-color: #1a2b34;
    color: #fff;
    padding: 10px;
    display: flex;
  }
}
