html,
body {
  height: 100%;
  background-color: #ffffff;
  text-align: center;
  margin: 0;
}

* {
  font-family: Helvetica, Arial, sans-serif;
  box-sizing: border-box;
}

#app {
  padding: 8px;
}

.content {
  display: flex;
  justify-content: space-evenly;
  overflow: hidden;
}

section {
  overflow: scroll;
  max-height: 80vh;
  padding: 0 40px 0;
  margin: 20px;
}

ul {
  list-style: none;
  position: relative;
  padding: 0;
  margin: 0;
}

.friendListItem {
  padding-left: 1.5em;
}

.friendListItem:before {
  position: absolute;
  content: "•";
  color: green;
  left: 0;
}

.friendListItem.offline:before {
  color: red;
}

.mockAdBanner {
  border: 1px solid #ccc;
  padding: 20px;
  margin: 10px 0;
  background-color: #f9f9f9;
  text-align: center;
  border-radius: 3px;
  color: rgb(155, 155, 155);
}
