.buttonStyle {
  border: none;
  padding: 10px 20px;
  margin: 5px 20px;
  color: white;
  cursor: pointer;
  border-radius: 5px;
}

.primary {
  background-color: rgb(26, 43, 50);
}

.primary:hover {
  background-color: rgb(63, 90, 102);
}

.secondary {
  background-color: rgb(249, 251, 255);
  color: rgb(26, 43, 50);
}

.secondary:hover {
  background-color: rgb(129, 152, 206);
  color: white;
}

.accent {
  background-color: rgb(226, 81, 119);
}

.accent:hover {
  background-color: rgb(226, 147, 168);
}
