.container {
  padding: 5px;
  margin: 10px;
}
.componentHeaderText {
  width: fit-content;
  font-size: 25px;
  font-weight: 400;
  margin-left: 60px;
}

.hidden {
  display: none;
}

.componentWrapper {
  max-width: 90%;
  margin: 40px auto;
  display: flex;
}

.componentContainer {
  margin: 0 auto;
}

.sourceCodeContainer {
  margin: 5px auto;
  min-width: max-content;
  background: rgb(249, 251, 255);
  height: 400px;
  border-radius: 4px;
  box-shadow: rgb(240 243 247) 3px 4px 9px 2px;
}

.sourceCodeWrapper {
  margin-left: auto;
  min-width: 200px;
  max-width: fit-content;
}

.sourceCode {
  padding: 10px;
}

.sourceCodeButton {
  padding: 5px;
  border-radius: 4px;
  color: #d7708b;
}

.sourceCodeButton:hover {
  cursor: pointer;
  background: #f9fbff;
}

@media only screen and (max-width: 450px) {
  .componentWrapper {
    margin-top: 20px;
    display: block;
  }

  .componentHeaderText {
    margin: 0 auto;
  }

  .sourceCodeWrapper {
    margin: 10px auto;
  }

  .sourceCodeContainer {
    height: fit-content;
  }
}
