.container {
  margin: 10px;
}

.navList {
  list-style: none;
  padding: 0;
  margin: 0;
}

.navItem {
  padding: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.navItem:hover {
  background-color: white;
  border-radius: 8px;
}

.navItemNameText {
  font-size: 13px;
  text-align: left;
  margin-left: 5px;
}

.selectedNav {
  background-color: #d6e3f9;
  border-radius: 8px;
}
