.container {
  background-color: #f2f6fd;
  border-radius: 8px;
}

.navList {
  list-style: none;
  padding: 0;
  margin: 0;
}

.navItem {
  padding: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.navItem:hover {
  background-color: #1a2b3426;
}

.navItemNameText {
  font-size: 0.9rem;
  margin-left: 5px;
  padding: 5px;
}

.selectedNav {
  background-color: #1a2b3426;
}
