.container {
  margin: 10px;
  width: 250px;
  min-width: 35px;
}
.condenseButtonContainer {
  display: flex;
}

.condenseButtonContainer:hover {
  cursor: pointer;
}
.condenseButton {
  margin: 5px auto 5px 0;
  border-radius: 5px;
  padding: 10px;
  background-color: inherit;
}

.condenseButton:hover {
  background-color: white;
}

.condensed-nav {
  width: 35px !important;
}

.navList {
  list-style: none;
  padding: 0;
  margin: 0;
}

.navItem {
  padding: 8px;
  transition: background-color 0.3s ease;
}

.navItem:hover {
  background-color: white;
  border-radius: 8px;
  cursor: pointer;
}

.navItemNameText {
  font-size: 13px;
  text-align: left;
  margin-left: 5px;
}

.selectedNav {
  background-color: #d6e3f9;
  border-radius: 8px;
}
