/* TopNavigationBar.css */

.container {
  background-color: #1a2b34;
  color: #fff;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.leftSection {
  display: flex;
  align-items: center;
}

.logoContainer {
  display: flex;
  align-items: center;
  margin-right: 20px;
}

.iconPlaceholder {
  font-size: 24px;
  margin-right: 8px;
}

.heroTitle {
  font-size: 18px;
  font-weight: bold;
}

.versionNumber {
  font-size: 14px;
  color: rgb(226, 81, 119);
}

.rightSection {
  display: flex;
  align-items: center;
}

.githubNav {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.githubNavItem {
  margin: 0 8px;
  cursor: pointer;
}
