.listItemWrapper {
  list-style: none;
  padding: 0;
  text-align: center;
}

.itemContainer {
  display: flex;
  border-radius: 5px;
  margin-top: 10px;
  background-color: #f2f6fd;
}

.content {
  flex: 1;
  padding: 5px 10px;
}

.itemTitle {
  background-color: #3c4659;
  padding: 4px;
  color: white;
  border-radius: 5px;
  font-size: 14px;
}

.itemDescription {
  margin: 8px;
  font-size: 12px;
}

.button {
  background: transparent;
  border: 0;
  padding: 10px;
  font-weight: bolder;
  cursor: pointer;
  border-radius: 5px;
  margin: 0 5px;
  transition: background-color 0.3s ease;
}

.buttonHover:hover {
  box-shadow: 0 0 1px black;
}
