body {
  margin: 0;
  font-family: BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f2f7fd;
}

code {
  font-family: monospace;
}

.mainContainer {
}

.topNavContainer {
  width: 100%;
}

.bottomContainer {
  display: flex;
}

.componentsList {
  list-style: none;
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
  padding: 3px 5px;
  color: #4e4e4e;
  height: 100vh;
}

.mainWindow {
  width: 80%;
  margin-top: 15px;
  margin-bottom: 30px;
  border-radius: 10px;
  background-color: white;
  box-shadow: 1px 3px 3px 2px #e7eef4;
}

@media only screen and (max-width: 450px) {
  body {
    width: 100%;
    margin: 0;
  }
}
