body {
  margin: 0;
  font-family: BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: monospace;
}

.mainContainer {
  width: 100%;
  background-color: #f2f7fd;
}

.topNavContainer {
  width: 100%;
}

.bottomContainer {
  display: flex;
}

.sideNav {
  background-color: rgb(242 246 253);
  width: 250px;
  min-width: 200px;
  height: 100vh;
}

.componentsList {
  list-style: none;
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
  padding: 3px 5px;
  color: #4e4e4e;
}

.mainWindow {
  width: 80%;
  margin: 15px 20px 20px 0;
  min-width: 900px;
  border-radius: 10px;
  background-color: white;
  box-shadow: 1px 3px 3px 2px #e7eef4;
}
